<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CamNVR</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="Artificial Intelligence, AI"/>

    {% include "includes/css_common_inc.html" %}
    {% block extra_css %}
    {% endblock extra_css %}

</head>
<body>

{% include "includes/header.html" %}

{% block content %}

{% endblock content %}

{% include "includes/footer.html" %}

{% include "includes/js_common_inc.html" %}
{% block extra_js %}
{% endblock extra_js %}

</body>
</html>
