{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <!--White Block-->
    <section class="section">
        <div class="container-fluid text-center">
            <h1>Welcome to CamNVR</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3" >
            <!-- <img style="-webkit-user-select: none;" src="{% url 'stream' %}" width="800" height="480"> -->
	        <div class="container">
                <br>
                <div class="row" id="contentPanel">

                </div>
            </div>
		</div>
    </section>
 

{% endblock content %}

{% block extra_js %}
	<script type="text/javascript">
        var addCols = function (num){
            for (var i=1;i<=num;i++) {
                var myCol = $('<div class="col-sm-3 col-md-3 pb-2 ml-3 mr-3"></div>');
                var myPanel = $('<div class="card card-outline-info" style="width: 18rem;" id="'+{{ number }}+'Panel"><div class="card-block"><div class="card-title"><span>Camera #'+i+' </p><img class="card-img-top" src="{% url 'stream' %}""></div></div>');
                myPanel.appendTo(myCol);
                myCol.appendTo('#contentPanel');
            }
        
        };

        $(document).ready(function(){
            num = {{ number }};
            addCols(num);
            return false;
        });
    </script>

{% endblock extra_js %}