{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <!--White Block-->
    <section class="section">
        <div>
        </div>
        <div class="row row-cols-1 row-cols-md-3" >
	        <div class="container">
	        		<img id="camera_id" >
			    <br>
			</div>
            <div>
                <img src="{{ img }}">
            </div>
		</div>
    </section>


{% endblock content %}

{% block extra_js %}
	<script type="text/javascript">
		function (event) {
				console.log("Success");
                const buffer = new Uint8Array(event.data);
                const imgData = Uint8ToBase64(buffer);
                $("#camera_id").attr("{{ img }}", "data:image/jpeg;base64," + imgData);
            };
	</script>
{% endblock extra_js %}