<link rel="icon" sizes="24x24" type="image/png" href="#">
<link rel="stylesheet" href="#">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<style>
    .jazmin__tags {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .jazmin__tags li {
        align-items: center;
        background: #85A3BF;
        border-radius: 5px;
        color: white;
        display: flex;
        font-size: small;
        list-style: none;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 1px 5px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    ​
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    ​
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    ​
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown {
        margin-top: 10px;
    }
</style>