<nav class="navbar navbar-expand-xl navbar-main navbar-light fixed-top">
    <div class="container-fluid">
       
    </div>
</nav>

<!-- MOBILE MENU-->
<a class="menu-toggle d-block d-xl-none" href="#">
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</a>

<nav id="sidebar-wrapper" class="navbar navbar-main do-nicescrol d-block d-xl-none">
    <ul class="navbar-nav sidebar-nav">

        
    </ul>
</nav>
<div class="backdrop"></div>